@charset "utf-8";

.box1{
    background-color:aquamarine;
    width: 500px;
    height: 620px;
}
.box2{
    background-color:rgba(224, 177, 133, 0.897);
    margin: 2%;
    width: 400px;
    height: 520px;
}
.box3{
    background-color:rgb(219, 233, 228);float:left;
    width: 500px;
    height: 620px;
}